<div class="modal-dialog row">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="contact_label"></h4>
    </div>

    <div class="modal-body">
      <form class="form contact-form">

        <!-- Contact Name -->
        <div class="form-group">
          <label for="contact_firstname">Contact Name</label>
          <div class="row">
            <!-- first name -->
            <div class="col-md-6">
              <input id="contact_firstname" type="text" name="firstname" value="<%= contact.escape('firstname') %>" class="form-control" placeholder="First Name">
            </div>
            <!-- last name -->
            <div class="col-md-6">
              <input id="contact_lastname" type="text" name="lastname" value="<%= contact.escape('lastname') %>" class="form-control" placeholder="Last Name">
            </div>
          </div>
        </div>
        <!-- end of Contact Name -->

        <!-- Contact Info -->
        <!-- phone and fax -->
        <div class="form-group">
          <label for="contact_phone">Contact Info</label>
          <div class="row">
            <!-- phone number -->
            <div class="col-md-6">
              <input id="contact_phone" type="text" name="phone" value="<%= contact.escape('phone') %>" class="form-control" placeholder="Phone Number">
            </div>
            <!-- fax number -->
            <div class="col-md-6">
              <input id="contact_fax" type="text" name="fax" value="<%= contact.escape('fax') %>" class="form-control" placeholder="Fax Number">
            </div>
          </div>
        </div>

        <!-- email -->
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <input id="contact_email" type="email" name="email" value="<%= contact.escape('email') %>" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <!-- end of Contact Info -->


        <!-- Company Info -->
        <div class="form-group">
          <label for="contact_company">Company Info</label>
          <div class="row">
            <div class="col-md-6">
              <input id="contact_company" type="text" name="company" value="<%= contact.escape('company') %>" class="form-control" placeholder="Company Name">
            </div>
            <div class="col-md-6">
              <input id="contact_web" type="text" name="web" value="<%= contact.escape('web') %>" class="form-control" placeholder="Website">
            </div>
          </div>
        </div>
        <!-- end of Company Info -->

        <!-- Address Info -->
        <div class="form-group">
          <label for="contact_address">Address Info</label>
          <div class="row">
            <div class="col-md-12">
              <input id="contact_address" type="text" name="address" value="<%= contact.escape('address') %>" class="form-control" placeholder="Street" required>
            </div>
          </div>
        </div>

        <!-- remaining of the address fields -->
        <div class="form-group">
          <div class="row">
            <!-- city -->
            <div class="col-md-3">
              <input id="contact_city" type="text" name="city" value="<%= contact.escape('city') %>" class="form-control" placeholder="City" required>
            </div>
            <!-- county -->
            <div class="col-md-3">
              <input id="contact_county" type="text" name="county" value="<%= contact.escape('county') %>" class="form-control" placeholder="County">
            </div>
            <!-- state -->
            <div class="col-md-3">
              <input id="contact_state" type="text" name="state" value="<%= contact.escape('state') %>" class="form-control" placeholder="State" required>
            </div>
            <!-- zip -->
            <div class="col-md-3">
              <input id="contact_zip" type="text" name="zip" value="<%= contact.escape('zip') %>" class="form-control" placeholder="Zipcode" required>
            </div>
          </div>
        </div>
        <!-- end of Address Info -->


      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="delete-contact btn btn-danger">Delete</button>
      <button type="button" class="submit btn btn-primary"></button>
    </div>

  </div>

</div>
