<div class="modal-dialog row">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="contact_label"></h4>
    </div>

    <div class="modal-body">
      <form class="form contact-form">

        <!-- Company -->
        <div class="form-group">
          <label for="contact_company">Company</label>
          <input id="contact_company" type="text" name="contact['company']" value="<%= contact.escape('company') %>" class="form-control">
        </div>

        <!-- First name -->
        <div class="form-group">
          <label for="contact_firstname">First Name</label>
          <input id="contact_firstname" type="text" name="contact['firstname']" value="<%= contact.escape('firstname') %>" class="form-control">
        </div>

        <!-- Last name -->
        <div class="form-group">
          <label for="contact_lastname">Last Name</label>
          <input id="contact_lastname" type="text" name="contact['lastname']" value="<%= contact.escape('lastname') %>" class="form-control">
        </div>

        <!-- Address -->
        <div class="form-group">
          <label for="contact_address">Address</label>
          <input id="contact_address" type="text" name="contact['address']" value="<%= contact.escape('address') %>" class="form-control">
        </div>

        <!-- City -->
        <div class="form-group">
          <label for="contact_city">City</label>
          <input id="contact_city" type="text" name="contact['city']" value="<%= contact.escape('city') %>" class="form-control">
        </div>

        <!-- County -->
        <div class="form-group">
          <label for="contact_County">County</label>
          <input id="contact_County" type="text" name="contact['County']" value="<%= contact.escape('County') %>" class="form-control">
        </div>

        <!-- State -->
        <div class="form-group">
          <label for="contact_state">State</label>
          <input id="contact_state" type="text" name="contact['state']" value="<%= contact.escape('state') %>" class="form-control">
        </div>

        <!-- Zip -->
        <div class="form-group">
          <label for="contact_zip">Zip Code</label>
          <input id="contact_zip" type="text" name="contact['zip']" value="<%= contact.escape('zip') %>" class="form-control">
        </div>

        <!-- Phone -->
        <div class="form-group">
          <label for="contact_phone">Phone</label>
          <input id="contact_phone" type="text" name="contact['phone']" value="<%= contact.escape('phone') %>" class="form-control">
        </div>

        <!-- Fax -->
        <div class="form-group">
          <label for="contact_fax">Fax</label>
          <input id="contact_fax" type="text" name="contact['fax']" value="<%= contact.escape('fax') %>" class="form-control">
        </div>

        <!-- Email -->
        <div class="form-group">
          <label for="contact_email">Email</label>
          <input id="contact_email" type="email" name="contact['email']" value="<%= contact.escape('email') %>" class="form-control">
        </div>

        <!-- Web -->
        <div class="form-group">
          <label for="contact_web">Website</label>
          <input id="contact_web" type="text" name="contact['web']" value="<%= contact.escape('web') %>" class="form-control">
        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="submit btn btn-primary"></button>
    </div>

  </div>

</div>
