<a href="javascript:void(0)">
  <%= contact.escape("firstname") %> <%= contact.escape("lastname") %> (Followers: <%= contact.escape("followers") %>)
</a>
<p>
  <%= contact.escape("address") %>
</p>
<p>
  <%= contact.escape("city") %>, <%= contact.escape("state") %>
</p>
